<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/<%= locale %>">
            <span>UAP Immo</span>
        </a>
        <div class="d-lg-none ms-auto me-4">
            <a href="/<%= locale %>/login" style="position: relative;">
                <i class="bi bi-person-circle" style="font-size: 1.8rem; color: black;"></i>
                <span class="visually-hidden">Login</span>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/<%= locale %>"><%= i18n.menu.home %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/<%= locale %>/contact"><%= i18n.menu.contact %></a>
                </li>
            </ul>
            <div class="d-none d-lg-block">
                <a href="/<%= locale %>/login" style="position: relative;">
                    <i class="bi bi-person-circle" style="font-size: 1.8rem; color: black;"></i>
                    <span class="visually-hidden">Login</span>
                </a>
            </div>
            <div class="dropdown d-none d-lg-block ms-3">
                <button class="btn btn-link dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: #000;">
                    <%= locale === 'fr' ? 'FR' : 'EN' %>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                    <li><a class="dropdown-item" href="/fr/login">FR</a></li>
                    <li><a class="dropdown-item" href="/en/login">EN</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
