<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= i18n.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center"><%= i18n.heading %></h1>
        <p class="text-center"><%= i18n.description %></p>

        <!-- Formulaire pour entrer le code 2FA -->
       <form action="/<%= locale %>/2fa" method="POST" class="mt-4">
        <div class="form-group">
            <label for="token"><%= i18n.label %></label>
            <input type="text" class="form-control" id="token" name="token" placeholder="<%= i18n.placeholder %>" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block"><%= i18n.submit_button %></button>
    </form>

        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger mt-4">
                <%= i18n.error_message %>
            </div>
        <% } %>

        <!-- Lien pour se déconnecter -->
        <div class="text-center mt-3">
            <a href="/logout"><%= i18n.logout %></a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
