<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= i18n.enable_2fa.title %></title>
</head>
<body>
  <h1><%= i18n.enable_2fa.instruction %></h1>
  <img src="<%= qrCode %>" alt="QR Code">
  <form action="/verify-2fa" method="POST">
    <label for="token"><%= i18n.enable_2fa.enter_code %></label>
    <input type="text" name="token" id="token" required>
    <button type="submit"><%= i18n.enable_2fa.submit_button %></button>
  </form>
</body>
</html>
