<!doctype html>
<html lang="<%= locale %>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#C4B990"> 
    <title>UAP Immo | <%= i18n.title %></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-main.css">
    <style>
        /* Styles personnalisés */
        body {
            display: flex;
            flex-direction: column;
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }
        .navbar {
            background-color: #C4B990;
            margin-bottom: 20px;
        }
        .navbar .navbar-brand, .navbar .nav-link, .navbar .navbar-icon {
            color: #000;
        }
        .main-section {
            padding: 20px;
            background-color: #fff;
        }
        .sidebar {
            background-color: #8f97c4;
            border-radius: 60px;
            padding: 20px;
            width: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sidebar a {
            margin: 10px 0;
            color: #000;
            font-size: 24px;
            text-decoration: none;
        }
        .sidebar a:hover {
            color: #000;
        }
        .footer {
            background-color: #343a40;
            color: #fff;
            padding: 20px 0;
        }
        @media (max-width: 767px) {
            .container-fluid {
                padding-left: 0;
                padding-right: 0;
            }
            .main-section {
                margin-left: 0;
                width: 100%;
                min-height: 300px;
                overflow-x: auto;
            }
            .sidebar {
                display: none;
            }
        }
    </style>
</head>
<body id="top">
    <main>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <span>UAP Immo</span>
                </a>
                <div class="d-lg-none ms-auto me-4">
                    <% if (user) { %>
                        <form action="/logout" method="POST" class="d-inline">
                            <button type="submit" style="background: none; border: none; position: relative;">
                                <i class="bi bi-person-circle" style="font-size: 1.8rem; color: black;"></i>
                                <i class="bi bi-x-circle" style="font-size: 0.8rem; color: red; position: absolute; top: 0; right: 0;"></i>
                                <span class="visually-hidden">Logout</span>
                            </button>
                        </form>
                    <% } else { %>
                        <a href="/login" style="position: relative;">
                            <i class="bi bi-person-circle" style="font-size: 1.8rem; color: black;"></i>
                            <span class="visually-hidden">Login</span>
                        </a>
                    <% } %>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/"><%= i18n.menu.home %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#fonctionnement"><%= i18n.menu.fonctionnement %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#processus"><%= i18n.menu.processus %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#faq"><%= i18n.menu.faq %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#contact"><%= i18n.menu.contact %></a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-block">
                        <% if (user) { %>
                            <form action="/logout" method="POST" class="d-inline">
                                <button type="submit" style="background: none; border: none; position: relative;">
                                    <i class="bi bi-person-circle" style="font-size: 1.8rem; color: black;"></i>
                                    <i class="bi bi-x-circle" style="font-size: 0.8rem; color: red; position: absolute; top: 0; right: 0;"></i>
                                    <span class="visually-hidden">Logout</span>
                                </button>
                            </form>
                        <% } else { %>
                            <a href="/login" style="position: relative;">
                                <i class="bi bi-person-circle" style="font-size: 1.8rem; color: black;"></i>
                                <span class="visually-hidden">Login</span>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Espace utilisateur -->
        <section class="contact-section section-padding section-bg">
            <div class="container">
                <h5 class="text-black mobile-margin"><%= i18n.welcome_message %> <%= user.lastName %> <%= user.firstName %></h5>
                <div class="container-fluid">
                    <div class="row mt-4">
                        <div class="col-auto p-0">
                            <!-- Sidebar -->
                            <div class="sidebar">
                                <a href="#" onclick="showSection('account')" title="<%= i18n.menu.account %>"><i class="fa fa-user"></i></a>
                                <a href="#" onclick="showSection('landing')" title="<%= i18n.menu.landing_page %>"><i class="fa fa-file-alt"></i></a>
                                <a href="#" onclick="showSection('donnees')" title="<%= i18n.menu.data %>"><i class="fa fa-chart-line"></i></a>
                                <a href="#" onclick="showSection('created-pages')" title="<%= i18n.menu.created_pages %>"><i class="fa fa-wallet"></i></a>
                            </div>
                        </div>

                        <div class="col">
                            <div class="main-section">
                                <!-- Section Profil -->
                                <div id="account" class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= i18n.profile_section.title %></h5>
                                        <p class="card-text"><%= i18n.profile_section.description %></p>
                                        <p class="card-text user-info">Nom: <%= user.firstName %></p>
                                        <p class="card-text user-info">Prénom: <%= user.lastName %></p>
                                        <p class="card-text user-info">Email: <%= user.email %></p>
                                        <button type="button" class="btn btn-outline-dark" onclick="showSection('reset-password')"><%= i18n.reset_password.title %></button>
                                    </div>
                                </div>

                                <!-- Section Réinitialisation du mot de passe -->
                                <div id="reset-password" class="card" style="display: none;">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= i18n.reset_password.title %></h5>
                                        <p class="card-text"><%= i18n.reset_password.description %></p>
                                        <form id="reset-password-form" action="/user/reset-password" method="POST">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <button type="submit" class="btn btn-outline-dark">Envoyer le lien de réinitialisation</button>
                                        </form>
                                    </div>
                                </div>

                                <!-- Section Landing Page -->
                                <div id="landing" class="card" style="display: none;">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= i18n.landing_page_section.title %></h5>
                                        <p class="card-text"><%= i18n.landing_page_section.description %></p>
                                        <form id="add-property-form" action="/add-property" method="POST" enctype="multipart/form-data">
                                            <input type="hidden" id="userId" name="userId" value="<%= user._id %>">
                                            <div class="form-group">
                                                <label for="rooms">Nombre de pièces</label>
                                                <input type="number" class="form-control" id="rooms" name="rooms" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="surface">Surface (m²)</label>
                                                <input type="number" class="form-control" id="surface" name="surface" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="price">Prix (€)</label>
                                                <input type="number" class="form-control" id="price" name="price" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="city">Ville</label>
                                                <input type="text" class="form-control" id="city" name="city" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="country">Pays</label>
                                                <input type="text" class="form-control" id="country" name="country" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="photo1">Photo 1</label>
                                                <input type="file" class="form-control" id="photo1" name="photo1" accept="image/*" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="photo2">Photo 2</label>
                                                <input type="file" class="form-control" id="photo2" name="photo2" accept="image/*" required>
                                            </div>
                                            <button type="submit" class="btn btn-custom">Enregistrer</button>
                                        </form>
                                        <div id="generatedLink" class="mt-3"></div>
                                    </div>
                                </div>

                                <!-- Section Données -->
                                <div id="donnees" class="card" style="display: none;">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= i18n.data_section.title %></h5>
                                        <p class="card-text"><%= i18n.data_section.description %></p>
                                    </div>
                                </div>

                                <!-- Section Pages créées -->
                                <div id="created-pages" class="card" style="display: none;">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= i18n.created_pages_section.title %></h5>
                                        <p class="card-text"><%= i18n.created_pages_section.description %></p>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nombre de pièces</th>
                                                    <th scope="col">Surface (m²)</th>
                                                    <th scope="col">Prix (€)</th>
                                                    <th scope="col">Ville</th>
                                                    <th scope="col">Pays</th>
                                                    <th scope="col">URL</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="properties-list">
                                                <!-- Propriétés de l'utilisateur ici -->
                                            </tbody>
                                        </table>
                                        <div id="no-properties-message" style="display: none;" class="text-center">
                                            <p>Aucune propriété n'a été créée pour le moment. <a href="#" onclick="showSection('landing')">Ajoutez votre première propriété maintenant !</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- Fin de main-section -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="/">
                        <span>UAP Immo</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Informations</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item"><a href="/" class="site-footer-link"><%= i18n.menu.home %></a></li>
                        <li class="site-footer-link-item"><a href="/register" class="site-footer-link">Créer un compte</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Accès</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item"><a href="/contact" class="site-footer-link">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Français</a></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024 UAP Company. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function showSection(sectionId) {
            const sections = ['account', 'landing', 'donnees', 'created-pages', 'reset-password'];
            sections.forEach(id => {
                const sectionElement = document.getElementById(id);
                if (sectionElement) {
                    sectionElement.style.display = id === sectionId ? 'block' : 'none';
                }
            });

            if (sectionId === 'created-pages') {
                loadProperties();
            }
        }

        async function loadProperties() {
            console.log('loadProperties function called');
            try {
                const response = await fetch('/user/properties');
                if (response.ok) {
                    const properties = await response.json();
                    console.log('Properties loaded:', properties);
                    const propertiesList = document.getElementById('properties-list');
                    propertiesList.innerHTML = '';

                    const noPropertiesMessage = document.getElementById('no-properties-message');

                    if (properties.length === 0) {
                        noPropertiesMessage.style.display = 'block';
                    } else {
                        noPropertiesMessage.style.display = 'none';

                        properties.forEach(property => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${property.rooms}</td>
                                <td>${property.surface}</td>
                                <td>${property.price}</td>
                                <td>${property.city}</td>
                                <td>${property.country}</td>
                                <td><a href="${property.url}" target="_blank">${property.url}</a></td>
                                <td>
                                    <div class="action-icons">
                                        <i class="bi bi-clipboard" onclick="copyURL('${property.url}')"></i>
                                        <i class="fa fa-shopping-cart" onclick="testURL('${property._id}')"></i>
                                        <i class="fa fa-pencil-alt" onclick="editProperty('${property._id}')"></i>
                                    </div>
                                </td>
                            `;
                            propertiesList.appendChild(row);
                        });
                    }
                } else {
                    console.error('Erreur lors du chargement des propriétés');
                    const propertiesList = document.getElementById('properties-list');
                    propertiesList.innerHTML = '<tr><td colspan="7" class="text-center">Erreur lors du chargement des propriétés.</td></tr>';
                }
            } catch (error) {
                console.error('Erreur lors du chargement des propriétés : ', error);
                const propertiesList = document.getElementById('properties-list');
                propertiesList.innerHTML = '<tr><td colspan="7" class="text-center">Une erreur est survenue lors du chargement des propriétés.</td></tr>';
            }
        }

        function copyURL(url) {
            const fullUrl = `https://uap.immo${url}`;
            navigator.clipboard.writeText(fullUrl)
                .then(() => {
                    showCopyMessage();
                })
                .catch(err => {
                    console.error('Impossible de copier l\'URL : ', err);
                });
        }

        function showCopyMessage() {
            const copyMessage = document.getElementById('copyMessage');
            copyMessage.style.display = 'block';
            setTimeout(() => {
                copyMessage.style.display = 'none';
            }, 2000);
        }

        function testURL(propertyId) {
            window.location.href = `/payment?propertyId=${propertyId}`;
        }

        function editProperty(propertyId) {
            window.location.href = `/property/edit/${propertyId}`;
        }
    </script>
</body>
</html>
