<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#8781D2"> 
    <title>UAP Immo | My account</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link rel="preload" href="/css/styles-main.css" as="style">
    <link rel="stylesheet" href="/css/styles-main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
        }
        h3 {
            color: #000;
            text-align: left;
        }
        .navbar {
            background-color: #8781dc;
            margin-bottom: 20px;
        }
        .navbar .navbar-brand, .navbar .nav-link, .navbar .navbar-icon {
            color: #ffffff;
        }
        .navbar .navbar-icon {
            color: #fff;
        }
        .main-section {
            flex: 1;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-left: 10px;
            min-height: 500px;
        }
        .main-section .card {
            border: none;
            box-shadow: none;
        }
        .sidebar {
            background-color: #c6c3ff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 60px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: sticky;
            top: 20px;
        }
        .sidebar a {
            margin: 10px 0;
            color: #000;
            font-size: 24px;
            text-decoration: none;
        }
        .sidebar a:hover {
            color: #000;
        }
        .footer {
            background-color: #343a40;
            color: #fff;
            padding: 20px 0;
        }
        .btn-custom {
            background-color: #333;
            color: #fff;
            border: none;
        }
        .btn-custom:hover {
            background-color: #000;
            color: #fff;
        }
        .btn-custom i {
            font-size: 24px;
        }
        .tooltip {
            position: absolute;
            background-color: #ADD8E6;
            color: #000;
            padding: 5px 10px;
            border-radius: 4px;
            white-space: nowrap;
            z-index: 1000;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
        .copy-message {
            display: none;
            background-color: #d1e7dd;
            color: #0f5132;
            padding: 10px;
            border-radius: 5px;
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 1000;
        }
        .action-icons i {
            font-size: 24px;
            cursor: pointer;
            margin-right: 10px;
            color: #333;
        }
        .short-column {
            width: 10%;
        }
        @media (max-width: 767px) {
            .container-fluid {
                padding-left: 0;
                padding-right: 0;
            }
            .container {
                padding-left: 15px;
                padding-right: 15px;
            }
            .row {
                flex-direction: column;
                align-items: center;
            }
            .main-section {
                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
                width: 100%;
                border-radius: 0;
                box-shadow: none;
                min-height: 300px;
                overflow-x: auto;
                padding-left: 0;
                padding-right: 0;
            }
            .sidebar {
                display: none;
            }
            .sidebar-mobile-links {
                display: block !important;
                margin-top: 10px;
            }
            .mobile-margin {
                margin-top: 30px;
            }
            table {
                width: 100%;
                table-layout: auto;
            }
            th, td {
                white-space: nowrap;
                padding: 8px;
                text-align: left;
            }
            .table-responsive {
                display: block;
                width: 100%;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }

            /* Style spécifique pour le formulaire sur mobile */
            #landing .form-group {
                width: 100%;
                padding: 5px;
            }
            #landing .form-control {
                width: 100%;
                padding: 10px;
                font-size: 16px;
            }
            #landing button.btn-custom {
                width: 100%;
                padding: 10px;
                font-size: 18px;
            }
        }

        @media (min-width: 768px) {
            .sidebar-links {
                display: none;
            }
        }
    </style>
</head>
<body id="top">
    <main>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <i class="bi-back"></i>
                    <span>UAP Immo</span>
                </a>
                <div class="d-lg-none ms-auto me-4">
                    <% if (user) { %>
                        <form action="/logout" method="POST" class="d-inline">
                            <button type="submit" class="navbar-icon bi-person-x" style="background: white; color: black; border: none;"></button>
                        </form>
                    <% } else { %>
                        <a href="/login" class="navbar-icon bi-person smoothscroll" style="color: #ffffff;"></a>
                    <% } %>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_1">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#fonctionnement">Fonctionnement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#processus">Processus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#faq">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#contact">Contact</a>
                        </li>
                        <!-- Sidebar links for mobile -->
                        <li class="nav-item sidebar-mobile-links sidebar-links">
                            <a class="nav-link click-scroll" href="#" onclick="showSection('account')"><i class="fa fa-user"></i> Mon compte</a>
                        </li>
                        <li class="nav-item sidebar-mobile-links sidebar-links">
                            <a class="nav-link click-scroll" href="#" onclick="showSection('landing')"><i class="fa fa-file-alt"></i> Landing page</a>
                        </li>
                        <li class="nav-item sidebar-mobile-links sidebar-links">
                            <a class="nav-link click-scroll" href="#" onclick="showSection('publicite')"><i class="fa-solid fa-chart-line"></i> Données</a>
                        </li>
                        <li class="nav-item sidebar-mobile-links sidebar-links">
                            <a class="nav-link click-scroll" href="#" onclick="showSection('created-pages')"><i class="fa fa-wallet"></i> Pages créées</a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-block">
                        <% if (user) { %>
                            <form action="/logout" method="POST" class="d-inline">
                                <button type="submit" class="navbar-icon bi-person-x" style="background: white; color: black; border: none;"></button>
                            </form>
                        <% } else { %>
                            <a href="/login" class="navbar-icon bi-person smoothscroll" style="color: #ffffff;"></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>
<section class="contact-section section-padding section-bg" id="section_5">
    <div class="container">
        <h5 class="text-black mobile-margin">Bienvenue <%= user.lastName %> <%= user.firstName %></h5>
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-auto p-0">
                    <div class="sidebar">
                        <a href="#" title="Mon compte" onclick="showSection('account')"><i class="fa fa-user"></i></a>
                        <a href="#" title="Landing page" onclick="showSection('landing')"><i class="fa fa-file-alt"></i></a>
                        <a href="#" title="Données" onclick="showSection('donnees')"><i class="fa-solid fa-chart-line"></i></a>
                        <a href="#" title="Pages créées" onclick="showSection('created-pages')"><i class="fa fa-wallet"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="main-section">
                        <div id="account" class="card">
                            <div class="card-body">
                                <h5 class="card-title">Mes Informations :</h5>
                                <p class="card-text">Nom: <%= user.firstName %></p>
                                <p class="card-text">Prénom: <%= user.lastName %></p>
                                <p class="card-text">Email: <%= user.email %></p>
                            </div>
                        </div>
                        <div id="landing" class="card" style="display: none;">
                            <div class="card-body">
                                <h5 class="card-title">Ajouter un bien immobilier</h5>
                                <form id="add-property-form" action="/add-property" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" id="userId" name="userId" value="<%= user._id %>">
                                    <div class="form-group">
                                        <label for="rooms">Nombre de pièces</label>
                                        <input type="number" class="form-control" id="rooms" name="rooms" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="surface">Surface (m²)</label>
                                        <input type="number" class="form-control" id="surface" name="surface" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Prix (€)</label>
                                        <input type="number" class="form-control" id="price" name="price" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="city">Ville</label>
                                        <input type="text" class="form-control" id="city" name="city" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="country">Pays</label>
                                        <input type="text" class="form-control" id="country" name="country" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="photo1">Photo 1</label>
                                        <input type="file" class="form-control" id="photo1" name="photo1" accept="image/*" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="photo2">Photo 2</label>
                                        <input type="file" class="form-control" id="photo2" name="photo2" accept="image/*" required>
                                    </div>
                                    <button type="submit" class="btn btn-custom">Enregistrer</button>
                                </form>
                                <div id="generatedLink" class="mt-3"></div>
                            </div>
                        </div>
                        <div id="donnees" class="card" style="display: none;">
                            <div class="card-body">
                                <h5 class="card-title">Données</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <h5 class="card-title">Ci-dessous les statistiques de vos annonces</h5>
                                                <p class="card-text">Lorem</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div id="created-pages" class="card" style="display: none;">
    <div class="card-body">
        <h5 class="card-title">Pages créées</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre de pièces</th>
                    <th scope="col">Surface (m²)</th>
                    <th scope="col">Prix (€)</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Pays</th>
                    <th scope="col">URL</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="properties-list">
                <!-- Propriétés de l'utilisateur ici -->
            </tbody>
        </table>
        <div id="no-properties-message" style="display: none;" class="text-center">
            <p>Aucun bien immobilier n'a été créé pour le moment. <a href="#" onclick="showSection('landing')">Ajoutez votre premier bien immobilier maintenant !</a></p>
        </div>
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">
                    <i class="bi-back"></i>
                    <span>UAP Immo</span>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Informations</h6>
                <ul class="site-footer-links">
                    <li class="site-footer-link-item"><a href="#" class="site-footer-link">Home</a></li>
                    <li class="site-footer-link-item"><a href="#" class="site-footer-link">Mon espace</a></li>
                    <li class="site-footer-link-item"><a href="#" class="site-footer-link">Créer un compte</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb=3">Accès</h6>
                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">Contact</a>
                </p>
                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">
                        contact@uap.immo
                    </a>
                </p>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/?lang=en">English</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/?lang=fr">Français</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024 UAP Company. All rights reserved.</p>                  
        </div>
    </div>
</footer>
<div class="copy-message" id="copyMessage">URL copiée avec succès !</div>

<!-- JavaScript -->
<script src="/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script>
    function showSection(sectionId) {
        const sections = ['account', 'landing', 'donnees', 'created-pages'];
        sections.forEach(id => {
            document.getElementById(id).style.display = id === sectionId ? 'block' : 'none';
        });

        if (sectionId === 'created-pages') {
            loadProperties();
        }
    }

    async function loadProperties() {
        console.log('loadProperties function called');
        try {
            const response = await fetch('/user/properties');
            if (response.ok) {
                const properties = await response.json();
                console.log('Properties loaded:', properties);
                const propertiesList = document.getElementById('properties-list');
                propertiesList.innerHTML = ''; // Clear the list before adding new items

                const noPropertiesMessage = document.getElementById('no-properties-message');

                if (properties.length === 0) {
                    // Display a message if no properties are available
                    noPropertiesMessage.style.display = 'block';
                } else {
                    noPropertiesMessage.style.display = 'none';

                    properties.forEach(property => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${property.rooms}</td>
                            <td>${property.surface}</td>
                            <td>${property.price}</td>
                            <td>${property.city}</td>
                            <td>${property.country}</td>
                            <td><a href="${property.url}" target="_blank">${property.url}</a></td>
                            <td>
                                <td>
    <div class="action-icons">
        <i class="bi bi-clipboard" style="color: #333;" onclick="copyURL('${property.url}')"></i>
        <i class="fa fa-shopping-cart" style="color: #333;" onclick="testURL('${property._id}')"></i>
        <i class="fa fa-pencil-alt" style="color: #333;" onclick="editProperty('${property._id}')"></i>
    </div>
</td>

                        `;
                        propertiesList.appendChild(row);
                    });
                }
            } else {
                console.error('Erreur lors du chargement des propriétés');
                const propertiesList = document.getElementById('properties-list');
                propertiesList.innerHTML = '<tr><td colspan="7" class="text-center">Erreur lors du chargement des propriétés.</td></tr>';
            }
        } catch (error) {
            console.error('Erreur lors du chargement des propriétés : ', error);
            const propertiesList = document.getElementById('properties-list');
            propertiesList.innerHTML = '<tr><td colspan="7" class="text-center">Une erreur est survenue lors du chargement des propriétés.</td></tr>';
        }
    }

    function copyURL(url) {
        const fullUrl = `https://uap.immo${url}`;
        navigator.clipboard.writeText(fullUrl)
            .then(() => {
                showCopyMessage();
            })
            .catch(err => {
                console.error('Impossible de copier l\'URL : ', err);
            });
    }

    function showCopyMessage() {
        const copyMessage = document.getElementById('copyMessage');
        copyMessage.style.display = 'block';
        setTimeout(() => {
            copyMessage.style.display = 'none';
        }, 2000);
    }

    function testURL(propertyId) {
        window.location.href = `/payment?propertyId=${propertyId}`;
    }

 function editProperty(propertyId) {
    window.location.href = `/property/edit/${propertyId}`;
}

    // Gestion de la soumission du formulaire
    document.getElementById('add-property-form').addEventListener('submit', async function(event) {
        event.preventDefault();
        const formData = new FormData(this);

        try {
            console.log('Submitting form data:', formData);
            const response = await fetch('/add-property', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const result = await response.json();
                console.log('Property added successfully:', result);
                document.getElementById('generatedLink').innerHTML = `
                    <div class="alert alert-success">
                        ${result.message} <br>
                        <a href="${result.url}" target="_blank">${result.url}</a>
                    </div>
                `;
            } else {
                const error = await response.json();
                console.error('Error response:', error);
                document.getElementById('generatedLink').innerHTML = `
                    <div class="alert alert-danger">
                        Une erreur est survenue: ${error.error}
                    </div>
                `;
            }
        } catch (error) {
            console.error('Erreur lors de la soumission du formulaire:', error);
            document.getElementById('generatedLink').innerHTML = `
                <div class="alert alert-danger">
                    Une erreur est survenue lors de la soumission du formulaire.
                </div>
            `;
        }
    });
</script>
</body>
</html>
